<p>
  Start editing to see some magic happen :)
</p>
<form [formGroup]="group">
  <hello name="{{ name }}"></hello>
  <input type="text" formControlName="title">
  <button (click)="group.get('title').setValue('title')">Retitle</button>
  <div formArrayName="items" *ngFor="let item of group.get('items').controls; let i = index">
    <input type="text" [formControlName]="i">
    <button (click)="deleteItem(i)">Delete</button>
  </div>
  <button (click)="addItem()">Add</button>
</form>

<pre>{{group.value | json}}</pre>
<h2>patch</h2>
<pre>{{patch$ | async | json }}</pre>

<!--
<form [formGroup]="root" (submitChanges)="...">
  <input formControlName="a">
  <div formGroupName="child1">
    <input formControlName="b1">
    <input formControlName="b2">
  </div>
  <div formArrayName="children" *ngFor="let item of group.get('children').controls; let i = index">
    <input type="text" [formControlName]="i">
    <button (click)="deleteItem(i)">Delete</button>
  </div>
</form>



-->